.section-padding {
    padding: 80px 0;
}

.single-serviecs-box {
    position: relative;
    display: block;
    text-decoration: none;
    border: 2px solid #e8e8e8;
    padding: 50px;
    text-align: center;
    border-radius: 5px;
    color: #333;
    padding-top: 70px;
}

.fa-solid {
    position: absolute;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: #54be73;
    font-size: 30px;
    border-radius: 50%;
    color: #Fff;
    left: 50%;
    margin-left: -35px;
    top: -35px;
}

.single-serviecs-box p {
    margin: 0;
}

.single-serviecs-box h3 {
    color: #000;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}